<ul>
    <li><a asp-controller="Home" asp-action="Index">HOME</a></li>
    <li><a asp-controller="About" asp-action="Index">About</a></li>
    <li><a asp-controller="Price" asp-action="Index">Price</a></li>

    <ul class="dropdown-list-wrapper w-dropdown-list w--open" id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0">
        <a asp-controller="Feature" asp-action="Index">" class="dropdown-link w-dropdown-link" tabindex="0">Feature</a>
        <a asp-controller="Faq" asp-action="Index">" class="dropdown-link w-dropdown-link" tabindex="0">FAQ</a>
        <a asp-controller="Successstory" asp-action="Index">" class="dropdown-link w-dropdown-link" tabindex="0">Success Stories</a>
        <a asp-controller="ComingSoon" asp-action="Index">" class="dropdown-link w-dropdown-link" tabindex="0">Coming Soon</a>
        <a asp-controller="Forgot" asp-action="Index">" class="dropdown-link w-dropdown-link" tabindex="0">Forgot</a>
        <a asp-controller="Confirm-email" asp-action="Index">" class="dropdown-link w-dropdown-link" tabindex="0">Confirm email</a>
    </ul>
    <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
    <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
    <li><a asp-controller="Blog" asp-action="Design">design</a></li>
    <li><a asp-controller="Blog" asp-action="Technology">technology</a></li>
    <li><a asp-controller="Blog" asp-action="Webflow">Webflow</a></li>

    <li><a asp-controller="Login" asp-action="Index">Login</a></li>
    <li><a asp-controller="Register" asp-action="Index">Sing up</a></li>
</ul>