<html data-wf-page="65cadf8e25722942a3cf46cb" data-wf-site="65c6e5db8898750caa96b0e4" data-wf-status="1">
<body>
    <div class="section-confirm-email"><div class="padding-global"><div class="container-large"><div class="confirm-email-component"><div class="confirm-email-content"><img src="images/email.svg" loading="lazy" alt="" class="confirm-image" /><h5 class="heading-style-h5">Confirm your email</h5><p class="text-size-regular text-color-gray">We sent you a verification link via email. Please click it to verify your email address. If you don’t see it, please wait up to 5 mins or check your SPAM folder.</p><a href="https://mail.google.com/" target="_blank" class="button w-button">Check Your Gmail</a></div></div></div></div></div>
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/webflow-script.js" type="text/javascript"></script>
</body>
